# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build outputs
dist/
dist-ssr/

# Local env files
*.local
.env.development
.env.production  # Si quieres ignorar también el env de producción

# IDE / Editor directories and files
.vscode/
!.vscode/extensions.json  # Permitir compartir las extensiones recomendadas
.idea/
.DS_Store

# Visual Studio files
*.suo
*.ntvs*
*.njsproj
*.sln

# Swap files (vim, etc)
*.sw?

# Otros archivos temporales o de sistema que suelen molestarte:
*.bak
*.tmp
